﻿
@model.s1071632.viewModel.BMIDate

@{ 
    ViewBag
}

<h2>BMI計算器</h2>
<form action="/BMI/Index" method="post">
    <p>身高<input type="text" name="h" value=" " />公分</p>
    <p>體重<input type="text" name="w" value=" " />公斤</p>
    <p><input type="submit" name="name" value="送出" /></p>
    <p>身高:@Html.TextBoxFor(d)</p>
</form>
<br />
<br />
<p> 計算結果 : @Model.BMI</p>
<p>BMI區間 : @ViewBag.lv</p>