﻿
@{
    ViewBag.Title = "htmlhelp";
}

<h2>htmlhelp</h2>

<p>姓名:@Html.TextBox("username") </p>
<p>帳號:@Html.TextBox("account") </p>
<p>密碼:@Html.Password("pwd") </p>
<p>
    性別:
    @Html.RadioButton("gender", "a", true) 男性
    @Html.RadioButton("gender", "b") 女性
</p>
<P>
    興趣:
    @Html.CheckBox("habby-1", "A")游泳
    @Html.CheckBox("habby-2", "B")閱讀
    @Html.CheckBox("habby-3", "C")看電影
</P>

<p> 自我介紹 @Html.TextArea("aboutme")</p>

@*<p>姓名:<input type="text" name="name" value="" /> </p>
    <p>帳號:<input type="text" name="aeuess" value="" /> </p>
    <p>密碼:<input type="password" name="password" value="" /> </p>
    <p>
        性別:<input type="radio" name="grue" value="A" /> 男性
        <input type="radio" name="grue" value="B" /> 女性
    </p>
    <P>
        興趣:<input type="checkbox" name="h-1" value="A" />游泳
        <input type="checkbox" name="h-2" value="B" />閱讀
        <input type="checkbox" name="h-3" value="C" />看電影
    </P>

    <p> 自我介紹<textarea>  </textarea></p>*@
