﻿
@{
    ViewBag.Title = "html";
}

<p>姓名:<input type="text" name="name" value="" /> </p>
<p>帳號:<input type="text" name="aeuess" value="" /> </p>
<p>密碼:<input type="password" name="password" value="" /> </p>
<p>
    性別:<input type="radio" name="grue" value="A" /> 男性
        <input type="radio" name="grue" value="B" /> 女性
</p>
<P>
    興趣:<input type="checkbox" name="h-1" value="A" />游泳
    <input type="checkbox" name="h-2" value="B" />閱讀
    <input type="checkbox" name="h-3" value="C" />看電影
</P>

<p> 自我介紹<textarea>  </textarea></p>


