﻿
@{
    ViewBag.Title = "razor";
}

<h2>razor</h2>
@{
    var success = true;

}
@if (success == true)
{
    <p>success</p>
}
else
{
    <p>false</p>
}
印出1-10<br />
@for (int i = 1; i <= 10; i++)
{
    <p>
        i@(i)
    </p>
    if (i >= 10)
    {
        success = false;
    }
}
@if (success == true)
{
    <p>success</p>
}
else
{
    <p>false</p>
}


@{ string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}
    <ol>
        @foreach (var item in fruits)
        {

            <li>@item</li>

        }
    </ol>